.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.x.axis path {
    display: none;
}

.bar {
    fill: steelblue;
}

/* error line */
.err-center {
    fill: #fff;
    stroke: #000;
    stroke-dasharray: 2, 2;
}

.err-whisker {
    fill: #fff;
    stroke: #000;
    stroke-width: 1.5px;
}


.infobox { position: absolute; width: auto; padding: 4px; background-color: rgba(255, 255, 255,.75); border:2px solid steelblue; border-radius:4px; box-shadow:#333333 0 0 10px; font-size: 9px; }
.infobox p { margin: 0; }